body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    height: 6274px;
    background-color: black;
}
/* 第一块内容 */
.content_1 {
    width: 100%;
    height: 988px;
    background: url('../images/01.jpg');
    position: relative;
}


/* 第二块内容 */
.content_2 {
    height: 696px;
    width: 100%;
    background-color: white;
    position: relative; 
}

/* 第三块内容 */
.content_3 {
    width: 100%;
    height: 798px;
    background: url('../images/02.jpg');
    position: relative;
}

/* 第四块内容 */
.content_4 {
    height: 579px;
    width: 100%;
    background-color: white;
    position: relative;
}





.content_1_1 {
    width: 800px;
    height: 800px;
}

.div_1_children {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.div_2_children {
    width: 80%;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    margin: 100px auto;
    letter-spacing: 1px;
    line-height: 30px
}

.div_3_children {
    width: 100%;
    border: 1px solid white;
    height: 300px;
    text-align: center;
}

.div_3_children_1 {
    color: white;
    margin-top: 40px
}

.div_3_children_2 {
    color: ghostwhite;
    margin-top: 30px;
    font-size: 5px;
    opacity: 0.5
}

.div_3_children_3 {
    margin: 80px;
    width: 80%;
    display: flex;


}



.div2_1 {
    width: 100%;
    font-size: 5px;
    opacity: 0.5;
    margin-top: 100px;
}

.div2_2 {
    font-size: 40px;
    margin-top: 100px;
    width: 100%;


}

.div2_3 {
    width: 100%;
    height: 300px;
    margin-top: 50px;
}




.div3_1 {
    height: 100%;
    margin-left: 130px;
    text-align: left;

}

.div3_1_1 {
    margin-top: 150px;
    color: white;
    font-size: 45px;
    font-weight: 100;
    width: 400px
}

.div3_1_2 {
    margin-top: 80px;
    color: white;
    font-size: 15px;
    opacity: 0.3;
    font-weight: 100;
    width: 400px
}

.div3_1_3 {
    margin-top: 80px
}

.div3_2_1 {
    width: 585px;
    height: 542px;
    margin-top: 90px;
    background: url('./image/day1_03.png');
}



.div4_1 {
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 60px;
    font-size: 50px
}

.div4_2 {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px
}

.div5 {
    position: absolute;
    margin-top: 2074px;
    height: 999px;
    width: 100%;
    background-color: white;

}


/*
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.content_1 {
    position: relative;
    width: 100%;
    height: 990px;
    background-image: url(./images/content_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.content_2 {
    position: relative;
    width: 100%;
    height: 710px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
.content_3 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(./images/content_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.content_4 {
    position: relative;
    width: 100%;
    height: 576px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
*/

/* --------------------------------------------------------------------------
.content {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.content_body1 {
    position: relative;
    width: 100%;
    height: 990px;
    background-image: url(./images/content_body1.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.content_body2 {
    position: relative;
    width: 100%;
    height: 710px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
.content_body3 {
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(./images/content_body2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.content_body4 {
    position: relative;
    width: 100%;
    height: 576px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}
.content_body1_text1 {
    position: relative;
    top: 180px;
    font-family: Sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 450%;
    color: #ffffff;
}
.content_body1_text2 {
    position: relative;
    top: 220px;
    width: 50%;
    font-family: Sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 90%;
    color: #ffffff;
    margin: 0 auto;
}
.content_body1_signUpForm {
    position: relative;
    margin: 0 auto;
    top: 350px;
    width: 65%;
    height: 20%;
    border: 1px solid #ffffff
}
.content_body1_signUpForm_text1{
    position: relative;
    top: 30px;
    width: 50%;
    font-family: Sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 120%;
    color: #ffffff;
    margin: 0 auto;
}
.content_body1_signUpForm_text2{
    position: relative;
    top: 35px;
    width: 50%;
    font-family: Sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 90%;
    color: #ffffff;
    margin: 0 auto;
}
.content_body1_signUpForm_form{
    position: relative;
    top: 70px;
    width:80%;
    margin:0 auto;
    list-style:none;
    text-align: center;
}
.content_body1_signUpForm_input{
    float: center;
    border:solid 1px white;
    height:35px;
    width:90%;
    margin: 0 auto;font-family: Sans-serif;
    font-weight: lighter;
    font-size: 90%;
    color: #ffffff;
}
.content_body1_signUpForm_button{
    border:solid 1px white;
    height:35px;
    width:90%;
    margin: 0 auto;
    font-family: Sans-serif;
    font-weight: lighter;
    font-size: 90%;
    color: #ffffff;
}
.table{
    margin:0 auto;
    position: relative;
    top: 60px;
    width:70%;    
}
 */