<html>

<head>
    <title>vue巩固练习</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <p class="title">测试</p>
        <p class="recording-time">开始时间: {{now}} &nbsp; &nbsp; 用时: {{time}}分钟
        </p>
        <div class="form-Conent">
            <div>
                <span class="question-type">{{index}}</span>
            </div>
            <div v-if="dataList[index].type==='join'">
                <div class="question-title">{{dataList[index].content}}</div>
                <div :class="item.check?'true-answer' :'answer'" v-for="(item,i) in dataList[index].leftItems" :key="item._id" @click="checkOne(i,'a')">
                    {{item}}
                </div>
                <div :class="item.check?'true-answer' :'answer'" v-for="(item,i) in dataList[index].rightItems" :key="item._id" @click="checkOne(i,'b')">
                    {{item}}
                </div>
            </div>
            <div v-if="dataList[index].type==='judgment'">
                <div class="question-title">{{dataList[index].content}}</div>
                <div :class="item.check || dataList[index].userAnswer===item.name ?'true-answer' :'answer'"
                        v-for="(item,i) in judgmentIsture"
                        :key="item.name" 
                        @click="radio(i)">
                    {{item.name}}
                </div>
            </div>
            <div v-if="dataList[index].type==='asd'">
                <div class="question-title">
                    {{dataList[index].userAnswer===null?  '':dataList[index].userAnswer[0] }}
                    {{dataList[index].content}}
                    {{dataList[index].userAnswer===null ?"":dataList[index].userAnswer[1]}}
                </div>
                <div class="inputfill">
                    <input v-model="fill" @keyup.enter="keyup" />
                </div>
            </div>
            <div v-if="dataList[index].type==='aq'">
                <div class="question-title">{{dataList[index].content}}{{dataList[index].userAnswer}}</div>
                <div class="inputfill">
                    <input v-model="ap" @keyup.enter="apup" />
                </div>
            </div>
            <div v-if="dataList[index].type==='multiple'">
                <div class="question-title">{{dataList[index].content}}</div>
                <div :class="item.check ? 'true-answer' :'answer'" v-for="item in dataList[index].options" :key="item._id" @click="options(item)">
                    {{item.name}}
                </div>
            </div>
            <div class="buttons">
                <button class="before-button" @click="before" v-if="index!==0">上一步</button>
                <button class="next-button" @click="next(dataList[index].type)" v-if="(index+1)!==dataList.length">下一步</button>
                <button class="submit-button" @click="submit" v-if="(index+1)===dataList.length">交卷</button>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            index: 3,
            now: '07:51',
            time: '181',
            answers: [],
            ap: '',
            fill: '',
            fillList: [],
            fillTime: 0,
            judgmentIsture: [
                {
                    name: '正确',
                    check: false
                },
                {
                    name: '错误',
                    check: false
                },
            ],
            dataList: [
                {
                    id: 0,
                    type: 'join',
                    content: '四大名著连一连',
                    leftItems: ['《水浒传》', '《西游记》', '《三国演义》', '《红楼梦》'],
                    rightItems: ['罗贯中', '施耐庵', '曹雪芹', '吴承恩'],
                    answer: [[0, 1], [1, 3], [2, 0], [4, 2]],
                    userAnswer: null
                },
                {
                    id: 1,
                    type: 'judgment',
                    content: '所有的苹果都是水果',
                    answer: true,
                    userAnswer: null
                },
                {
                    id: 2,
                    type: 'judgment',
                    content: '所有的苹果都是水果131321',
                    answer: true,
                    userAnswer: null
                },
                {
                    id: 3,
                    type: 'asd',
                    content: '___秋月何时了，往事___',
                    answer: ['春花', '知多少'],
                    userAnswer: null
                },
                {
                    id: 4,
                    type: 'aq',
                    content: '1+2等于几？',
                    answer: '3',
                    userAnswer: null
                },
                {
                    id: 5,
                    type: 'multiple',
                    content: '哪些是对的',
                    options: ['1+1=2', '1+2=3', '1+1=3', '1+2=2'],
                    answer: [0, 1],
                    userAnswer: null
                },
                {
                    id: 6,
                    type: 'single',
                    content: '1+1=?',
                    options: ['1', '2', '3', '4'],
                    answer: 1,
                    userAnswer: null
                }
            ],
        },
        created() {
            this.optionsFn()
        },
        methods: {
            before() {
                this.index--
                console.log('21212',this.index);
            },
            next(type) {
                // if (type === 'judgment') {
                //     for (let j = 1; j < this.judgmentIsture.length; j++) {
                //         this.judgmentIsture[j].check = false
                //     }
                // }
                // if (type === 'fill') {
                //     this.fillList = []
                // }
                // console.log('qwq',this.index);
                
                // console.log('i',this.dataList[this.index]);
                
                // if (this.dataList[this.index].id===1) {
                //     this.index++
                //     return                    
                // }
                // if (this.dataList[this.index].userAnswer !== null ) {
                    this.index++
                    if(this.index === 3){
                        // this.index = 4
                        console.log('asdas',this.dataList[this.index])
                    }

                    console.log('121',this.index);
                // console.log('i',this.dataList[num].userAnswer);
                    
                // }
                // else {
                    // alert('请填写完毕后点击')
                // }
            },
            submit() {
                let i = this.index
                for (let j = 0; j < this.dataList[this.index].questionAnswer.length; j++) {
                    if (this.dataList[this.index].questionAnswer[j].check) {
                        this.answers.push({ id: this.index, answer: this.dataList[this.index].questionAnswer[j].name })
                        let answers = this.answers.map(item => item.answer + "")
                        alert('您选择的答案是' + answers)
                        break;
                    }
                }
            },
            checkOne(i, type) {
                if (type === 'a') {
                    for (let j = 0; j < this.dataList[this.index].leftItems.length; j++) {
                        this.dataList[this.index].leftItems[j].check = false
                    }
                    this.dataList[this.index].leftItems[i].check = true
                }
                else {
                    for (let j = 0; j < this.dataList[this.index].rightItems.length; j++) {
                        this.dataList[this.index].rightItems[j].check = false
                    }
                    this.dataList[this.index].rightItems[i].check = true
                }
            },
            radio(i) {
                for (let j = 0; j < this.judgmentIsture.length; j++) {
                    this.judgmentIsture[j].check = false
                }
                this.judgmentIsture[i].check = true
                this.dataList[this.index].userAnswer = this.judgmentIsture[i].name
            },
            keyup() {
                if (!this.fill) {
                    alert('请填写完毕后点击')
                    return
                }
                this.fillTime++
                if (this.fillTime % 2 === 0) {
                    this.fillList[1] = this.fill
                }
                else {
                    this.fillList[0] = this.fill
                }
                this.dataList[this.index].userAnswer = this.fillList
                this.fill = ''
            },
            apup() {
                if (!this.ap) {
                    alert('请填写完毕后点击')
                    return
                }
                this.dataList[this.index].userAnswer = this.ap
                this.ap = ''
            },
            options(i) {
                i.check = !i.check
                if (i.check) {
                    this.dataList[this.index].userAnswer+=''+i.name
                }
            },
            optionsFn() {
                for (let j = 0; j < this.dataList.length; j++) {
                    if (this.dataList[j].options) {
                        for (let i = 0; i < this.dataList[j].options.length; i++) {
                            Vue.set(this.dataList[j].options, i, {
                                name: this.dataList[j].options[i],
                                check: false
                            })
                        }
                    }
                }
            }
        }
    })
</script>

</html>